---
import Layout from '../layouts/Layout.astro'
import SiteHeader from '../components/SiteHeader.astro'
import NavBar from '../components/NavBar'
import Breadcrumb from '../components/Breadcrumb.astro'
import HeroSection from '../components/HeroSection.astro'
import ServiceCards from '../components/ServiceCards.astro'
import NewsEvents from '../components/NewsEvents.astro'
import PartnerLogos from '../components/PartnerLogos.astro'
import SiteFooter from '../components/SiteFooter.astro'
---

<Layout title="Home - Institut für Humangenetik">
  <SiteHeader />
  <NavBar activeHref="/" client:load />
  <main>
    <Breadcrumb items={[{ label: 'Start' }]} />
    <HeroSection />
    <ServiceCards />
    <NewsEvents />
    <PartnerLogos />
  </main>
  <SiteFooter />
</Layout>
