---
---

<header class="hidden md:flex w-full" style="background-color: #ffffff;">
  <div
    style="max-width: 1200px; width: 100%; margin: 0 auto; padding: 20px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;"
  >
    <a href="/" style="display: block; line-height: 0;">
      <img
        src="/images/logo-institut.png"
        alt="UKB – Universitätsklinikum Bonn"
        width="224"
        height="53"
        style="display: block;"
      />
    </a>
    <a href="/" style="display: block; line-height: 0;">
      <img
        src="/images/logo-ukb.png"
        alt="Institut für Humangenetik"
        width="274"
        height="53"
        style="display: block;"
      />
    </a>
  </div>
</header>
