---
import '../styles/globals.css'

interface Props {
  title?: string
  description?: string
}

const {
  title = 'Institut für Humangenetik',
  description = 'Das Institut für Humangenetik bietet Patienten und Ärzten ein breites Spektrum von Serviceleistungen an.',
} = Astro.props
---

<!DOCTYPE html>
<html lang="de" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/seo/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/seo/favicon.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-full flex flex-col">
    <slot />
  </body>
</html>
